@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .menu > li {
    @apply mb-2;
  }
  .hidden_nav {
    opacity: 0;
    height: 0;
  }
  .menu {
    transition: all ease-out 300ms;
  }
}

html{
  scroll-behavior: smooth;
}

.menu > li {
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.menu > li:hover {
  border-bottom: 2px solid #13c2b5;
  transform: translateY(-2px);
  transition: transform ease-out 300ms;
}

.social-icons {
  @apply text-primary text-3xl mr-5 hover:text-white transition-colors ease-out duration-300 cursor-pointer tracking-wide;
}

.intro-paragraph {
  max-width: 30rem;
}

.intro-heading {
  @apply text-white font-headings text-5xl md:text-6xl pt-20 pl-10 md:pt-40 md:pl-20;
}

.carrer-card {
  @apply md:grid md:grid-cols-3 md:w-4/5  text-secondary transition-all ease-out duration-300 mb-12 p-3;
}

.glass-bg:hover {
  background: rgba( 65, 103, 100, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
  transform: translateY(-2px);
  transition: all ease-out 300ms;
}

.product-card {
  position: relative;
  margin: 10px 0px;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.product-card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
}

.product-card .card-thumbnail {
  background: #000000;
  /* height: 400px; */
  overflow: hidden;
}

.product-card .card-thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
  -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
  transition: all .3s cubic-bezier(0, .5, .5, 1);
}

.product-card:hover .card-thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}

.product-card .card-content {
  background: #FFFFFF;
  width: 100%;
  padding: 40px 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.product-card .card-content .card-title {
  @apply text-secondary font-headings;
  margin: 0;
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.product-card .card-content .card-sub-title {
  @apply text-primary font-headings text-lg;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
}
.tech-chip{
  @apply bg-transparent rounded-full p-2 text-sm font-bold text-gray-700 mr-2 mb-1 border-primary border-2 hover:bg-primary hover:text-white transition-all ease-out duration-300 capitalize;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18,30,39,0.4);
  z-index: 49;
  backdrop-filter: blur(15px);
}

